/* variables */
/* Site */
/* -- Fonts */
/* -- Colors */
/* Normalize */
/* Susy */
/* vendor files */
/* site files */
/* line 14, ../../bower_components/susy/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 106, ../../../../../../../../opt/chef/embedded/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.8em;
}

/**
 * ELEMENTS
 */
/* line 62, ../../src/sass/ben.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 67, ../../src/sass/ben.scss */
h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

/* line 72, ../../src/sass/ben.scss */
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
}

/* line 82, ../../src/sass/ben.scss */
h3 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 29px;
  line-height: 1.8rem;
}

/* line 86, ../../src/sass/ben.scss */
p {
  margin: 1rem 0;
}

/* line 90, ../../src/sass/ben.scss */
img {
  display: block;
}

/* line 94, ../../src/sass/ben.scss */
ul {
  margin: 0;
  padding-left: 20px;
}

/**
 * CLASSES
 */
/* line 104, ../../src/sass/ben.scss */
.screenreader-only, .contact label span {
  left: -10000px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

/* line 113, ../../src/sass/ben.scss */
.block-title, .work h3, .contact h2 {
  color: white;
  font-size: 44px;
  font-size: 2.75rem;
  line-height: 58px;
  line-height: 3.6rem;
  margin: -8px 0 30px;
  text-transform: uppercase;
}
@media (min-width: 660px) {
  /* line 113, ../../src/sass/ben.scss */
  .block-title, .work h3, .contact h2 {
    font-size: 54px;
    font-size: 3.4rem;
    line-height: 86px;
    line-height: 5.4rem;
    line-height: 54px;
    line-height: 3.375rem;
  }
}

/* line 125, ../../src/sass/ben.scss */
.section-title, .about .skills h2, .work h2 {
  color: #777777;
  font-size: 14px;
  font-size: 0.85rem;
  line-height: 29px;
  line-height: 1.8rem;
  margin-bottom: 15px;
  margin-top: 25px;
  text-transform: uppercase;
}
@media (min-width: 660px) {
  /* line 125, ../../src/sass/ben.scss */
  .section-title, .about .skills h2, .work h2 {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 29px;
    line-height: 1.8rem;
    line-height: 12px;
    line-height: 0.75rem;
    margin-bottom: 20px;
    margin-top: -35px;
  }
}
@media (min-width: 660px) {
  /* line 125, ../../src/sass/ben.scss */
  .section-title, .about .skills h2, .work h2 {
    margin-bottom: 40px;
    margin-top: -55px;
  }
}

/* line 145, ../../src/sass/ben.scss */
.button, .header nav a, .contact .submit-button {
  display: block;
  padding: 15px 18px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
/* line 153, ../../src/sass/ben.scss */
.button::before, .header nav a::before, .contact .submit-button::before {
  bottom: 0;
  content: '';
  height: 10px;
  left: 0;
  position: absolute;
  width: 10px;
}

/* line 163, ../../src/sass/ben.scss */
.button-green, .header nav a {
  background-color: #1fe7a8;
  color: white;
}
/* line 167, ../../src/sass/ben.scss */
.button-green::before, .header nav a::before {
  background-color: white;
}
/* line 171, ../../src/sass/ben.scss */
.button-green:hover, .header nav a:hover {
  color: #333333;
}

/* line 176, ../../src/sass/ben.scss */
.button-dark-grey, .contact .submit-button, .contact input[type="submit"] {
  background-color: #333333;
  color: #1fe7a8;
}
/* line 180, ../../src/sass/ben.scss */
.button-dark-grey::before, .contact .submit-button::before, .contact input[type="submit"]::before {
  background-color: #1fe7a8;
}
/* line 184, ../../src/sass/ben.scss */
.button-dark-grey:hover, .contact .submit-button:hover, .contact input[type="submit"]:hover {
  color: white;
}

/* line 190, ../../src/sass/ben.scss */
.sm-hidden {
  display: none;
}

/* line 194, ../../src/sass/ben.scss */
.sm-visible {
  display: block;
}

@media (min-width: 660px) {
  /* line 200, ../../src/sass/ben.scss */
  .md-hidden {
    display: none;
  }

  /* line 204, ../../src/sass/ben.scss */
  .md-visible {
    display: block;
  }
}
@media (min-width: 860px) {
  /* line 210, ../../src/sass/ben.scss */
  .lg-hidden {
    display: none;
  }

  /* line 214, ../../src/sass/ben.scss */
  .lg-visible {
    display: block;
  }
}
@media (min-width: 1044px) {
  /* line 220, ../../src/sass/ben.scss */
  .xl-hidden {
    display: none;
  }

  /* line 224, ../../src/sass/ben.scss */
  .xl-visible {
    display: block;
  }
}
/**
 * FONTS
 */
/* line 233, ../../src/sass/ben.scss */
.wf-loading p, .wf-loading a, .wf-loading span, .wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4, .wf-loading h5, .wf-loading h6, .wf-loading li, .wf-loading dt, .wf-loading dd, .wf-loading label {
  visibility: hidden;
}

/**
 * GRID
 */
/* line 244, ../../src/sass/ben.scss */
.block {
  max-width: 1004px;
  max-width: 62.75rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 40px;
  padding-top: 50px;
  position: relative;
}
/* line 12, ../../bower_components/susy/sass/susy/output/support/_clearfix.scss */
.block:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 660px) {
  /* line 244, ../../src/sass/ben.scss */
  .block {
    padding-bottom: 60px;
    padding-top: 75px;
  }
}
@media (min-width: 860px) {
  /* line 244, ../../src/sass/ben.scss */
  .block {
    padding-bottom: 80px;
    padding-top: 100px;
  }
}
@media (min-width: 1044px) {
  /* line 244, ../../src/sass/ben.scss */
  .block {
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 268, ../../src/sass/ben.scss */
.block:after {
  bottom: 0;
  content: "";
  height: 10px;
  left: -5%;
  overflow: hidden;
  position: absolute;
  right: -5%;
}

/* line 279, ../../src/sass/ben.scss */
.row {
  clear: both;
}
/* line 12, ../../bower_components/susy/sass/susy/output/support/_clearfix.scss */
.row:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 289, ../../src/sass/ben.scss */
.sm-col-1 {
  width: 5.71429%;
  float: left;
  margin-right: 2.85714%;
}

/* line 289, ../../src/sass/ben.scss */
.sm-col-2 {
  width: 14.28571%;
  float: left;
  margin-right: 2.85714%;
}

/* line 289, ../../src/sass/ben.scss */
.sm-col-3 {
  width: 22.85714%;
  float: left;
  margin-right: 2.85714%;
}

/* line 289, ../../src/sass/ben.scss */
.sm-col-4 {
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%;
}

/* line 289, ../../src/sass/ben.scss */
.sm-col-5 {
  width: 40%;
  float: left;
  margin-right: 2.85714%;
}

/* line 289, ../../src/sass/ben.scss */
.sm-col-6 {
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
}

/* line 289, ../../src/sass/ben.scss */
.sm-col-7 {
  width: 57.14286%;
  float: left;
  margin-right: 2.85714%;
}

/* line 289, ../../src/sass/ben.scss */
.sm-col-8 {
  width: 65.71429%;
  float: left;
  margin-right: 2.85714%;
}

/* line 289, ../../src/sass/ben.scss */
.sm-col-9 {
  width: 74.28571%;
  float: left;
  margin-right: 2.85714%;
}

/* line 289, ../../src/sass/ben.scss */
.sm-col-10 {
  width: 82.85714%;
  float: left;
  margin-right: 2.85714%;
}

/* line 289, ../../src/sass/ben.scss */
.sm-col-11 {
  width: 91.42857%;
  float: left;
  margin-right: 2.85714%;
}

/* line 289, ../../src/sass/ben.scss */
.sm-col-12 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 660px) {
  /* line 300, ../../src/sass/ben.scss */
  .md-col-1 {
    width: 5.71429%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 300, ../../src/sass/ben.scss */
  .md-col-2 {
    width: 14.28571%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 300, ../../src/sass/ben.scss */
  .md-col-3 {
    width: 22.85714%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 300, ../../src/sass/ben.scss */
  .md-col-4 {
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 300, ../../src/sass/ben.scss */
  .md-col-5 {
    width: 40%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 300, ../../src/sass/ben.scss */
  .md-col-6 {
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 300, ../../src/sass/ben.scss */
  .md-col-7 {
    width: 57.14286%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 300, ../../src/sass/ben.scss */
  .md-col-8 {
    width: 65.71429%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 300, ../../src/sass/ben.scss */
  .md-col-9 {
    width: 74.28571%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 300, ../../src/sass/ben.scss */
  .md-col-10 {
    width: 82.85714%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 300, ../../src/sass/ben.scss */
  .md-col-11 {
    width: 91.42857%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 300, ../../src/sass/ben.scss */
  .md-col-12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 860px) {
  /* line 311, ../../src/sass/ben.scss */
  .lg-col-1 {
    width: 5.71429%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 311, ../../src/sass/ben.scss */
  .lg-col-2 {
    width: 14.28571%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 311, ../../src/sass/ben.scss */
  .lg-col-3 {
    width: 22.85714%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 311, ../../src/sass/ben.scss */
  .lg-col-4 {
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 311, ../../src/sass/ben.scss */
  .lg-col-5 {
    width: 40%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 311, ../../src/sass/ben.scss */
  .lg-col-6 {
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 311, ../../src/sass/ben.scss */
  .lg-col-7 {
    width: 57.14286%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 311, ../../src/sass/ben.scss */
  .lg-col-8 {
    width: 65.71429%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 311, ../../src/sass/ben.scss */
  .lg-col-9 {
    width: 74.28571%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 311, ../../src/sass/ben.scss */
  .lg-col-10 {
    width: 82.85714%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 311, ../../src/sass/ben.scss */
  .lg-col-11 {
    width: 91.42857%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 311, ../../src/sass/ben.scss */
  .lg-col-12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 318, ../../src/sass/ben.scss */
.first {
  margin-left: 0;
}

/* line 322, ../../src/sass/ben.scss */
.last {
  float: right;
  margin-right: 0;
}

/* line 326, ../../src/sass/ben.scss */
.sm-last {
  float: right;
  margin-right: 0;
}

@media (min-width: 660px) {
  /* line 332, ../../src/sass/ben.scss */
  .md-last {
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 860px) {
  /* line 338, ../../src/sass/ben.scss */
  .lg-last {
    float: right;
    margin-right: 0;
  }
}

/**
 * HEADER
 */
/* line 348, ../../src/sass/ben.scss */
.header {
  background-color: rgba(255, 255, 255, 0.93);
  color: #1fe7a8;
  bottom: auto;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  -moz-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  z-index: 1000;
}
/* line 356, ../../src/sass/ben.scss */
.header .block {
  padding-bottom: 15px;
  padding-top: 15px;
}
@media (min-width: 860px) {
  /* line 362, ../../src/sass/ben.scss */
  .header .block {
    padding-bottom: 0;
    padding-top: 0;
  }
}
/* line 374, ../../src/sass/ben.scss */
.header header {
  margin: 0;
}
/* line 377, ../../src/sass/ben.scss */
.header header h1 {
  background: no-repeat url('data:image/gif;base64,R0lGODlhEwA7APEDADMzM+jo6B/nqP///yH5BAEAAAMALAAAAAATADsAAAKDlH+jy+gMh0OxTVPXxVnu7l3gJowfiFbByrIDAMdxS7+yTLf2DecuP/MFdjzhENgTEm/GJU6JBKQqUVC1c81kqUhrF/vVhrlAbxl8FqfJPHMb/VbH2Td3HX6X5+kyex//pxfIF+NXCHgomEgIY9iI2BhVJdlFWWbZhlmn2cdZ6BmJVAAAOw==') center left;
  background-size: contain;
  color: #1fe7a8;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 29px;
  line-height: 1.8rem;
  line-height: 20px;
  line-height: 1.25rem;
  margin: 0;
  padding-left: 15px;
  text-transform: uppercase;
  -moz-transition: color 500ms;
  -o-transition: color 500ms;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}
@media (min-width: 0px) and (max-width: 659px) {
  /* line 377, ../../src/sass/ben.scss */
  .header header h1 {
    font-weight: bold;
  }
}
@media (min-width: 660px) {
  /* line 377, ../../src/sass/ben.scss */
  .header header h1 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 58px;
    line-height: 3.6rem;
    line-height: 28px;
    line-height: 1.75rem;
    margin: 6px 0;
  }
}
/* line 400, ../../src/sass/ben.scss */
.header nav {
  display: none;
  clear: both;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  font-size: 1.2rem;
  line-height: 29px;
  line-height: 1.8rem;
  margin-bottom: 10px;
  text-transform: lowercase;
}
@media (min-width: 0px) and (max-width: 659px) {
  /* line 400, ../../src/sass/ben.scss */
  .header nav {
    font-weight: bold;
  }
}
@media (min-width: 860px) {
  /* line 400, ../../src/sass/ben.scss */
  .header nav {
    clear: none;
    display: inline-block;
    float: right;
    height: 100%;
    text-align: right;
  }
}
/* line 420, ../../src/sass/ben.scss */
.header nav ul {
  margin: 0;
  padding-left: 0;
}
@media (min-width: 860px) {
  /* line 420, ../../src/sass/ben.scss */
  .header nav ul {
    display: inline-block;
  }
}
/* line 429, ../../src/sass/ben.scss */
.header nav li {
  border-bottom: 1px solid white;
}
/* line 432, ../../src/sass/ben.scss */
.header nav li:first-child {
  border-top: 1px solid white;
}
@media (min-width: 860px) {
  /* line 429, ../../src/sass/ben.scss */
  .header nav li {
    display: inline-block;
  }
}
@media (min-width: 860px) {
  /* line 440, ../../src/sass/ben.scss */
  .header nav li.lg-hidden {
    display: none;
  }
}
/* line 471, ../../src/sass/ben.scss */
.header .hamburger {
  display: inline-block;
  height: 20px;
  margin-bottom: -4px;
  width: 40px;
}
@media (min-width: 660px) {
  /* line 471, ../../src/sass/ben.scss */
  .header .hamburger {
    height: 40px;
  }
}
@media (min-width: 860px) {
  /* line 471, ../../src/sass/ben.scss */
  .header .hamburger {
    display: none;
  }
}
/* line 485, ../../src/sass/ben.scss */
.header .hamburger .patty {
  background-color: #1fe7a8;
  display: block;
  height: 4px;
  width: 100%;
  -moz-transform: translateY(9px);
  -ms-transform: translateY(9px);
  -webkit-transform: translateY(9px);
  transform: translateY(9px);
  -moz-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}
@media (min-width: 660px) {
  /* line 485, ../../src/sass/ben.scss */
  .header .hamburger .patty {
    -moz-transform: translateY(18px);
    -ms-transform: translateY(18px);
    -webkit-transform: translateY(18px);
    transform: translateY(18px);
  }
}
/* line 494, ../../src/sass/ben.scss */
.header .hamburger .patty::before, .header .hamburger .patty::after {
  background-color: #1fe7a8;
  display: block;
  height: 4px;
  width: 100%;
  content: "";
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
/* line 501, ../../src/sass/ben.scss */
.header .hamburger .patty::before {
  -moz-transform: translate3d(0, -8px, 0);
  -ms-transform: translate3d(0, -8px, 0);
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}
@media (min-width: 660px) {
  /* line 501, ../../src/sass/ben.scss */
  .header .hamburger .patty::before {
    -moz-transform: translate3d(0, -12px, 0);
    -ms-transform: translate3d(0, -12px, 0);
    -webkit-transform: translate3d(0, -12px, 0);
    transform: translate3d(0, -12px, 0);
  }
}
/* line 509, ../../src/sass/ben.scss */
.header .hamburger .patty::after {
  -moz-transform: translate3d(0, 4px, 0);
  -ms-transform: translate3d(0, 4px, 0);
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
}
@media (min-width: 660px) {
  /* line 509, ../../src/sass/ben.scss */
  .header .hamburger .patty::after {
    -moz-transform: translate3d(0, 8px, 0);
    -ms-transform: translate3d(0, 8px, 0);
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
  }
}
/* line 522, ../../src/sass/ben.scss */
.header .hamburger:hover .patty::before {
  -moz-transform: translate3d(0, -12px, 0);
  -ms-transform: translate3d(0, -12px, 0);
  -webkit-transform: translate3d(0, -12px, 0);
  transform: translate3d(0, -12px, 0);
}
@media (min-width: 660px) {
  /* line 522, ../../src/sass/ben.scss */
  .header .hamburger:hover .patty::before {
    -moz-transform: translate3d(0, -16px, 0);
    -ms-transform: translate3d(0, -16px, 0);
    -webkit-transform: translate3d(0, -16px, 0);
    transform: translate3d(0, -16px, 0);
  }
}
/* line 530, ../../src/sass/ben.scss */
.header .hamburger:hover .patty::after {
  -moz-transform: translate3d(0, 8px, 0);
  -ms-transform: translate3d(0, 8px, 0);
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}
@media (min-width: 660px) {
  /* line 530, ../../src/sass/ben.scss */
  .header .hamburger:hover .patty::after {
    -moz-transform: translate3d(0, 12px, 0);
    -ms-transform: translate3d(0, 12px, 0);
    -webkit-transform: translate3d(0, 12px, 0);
    transform: translate3d(0, 12px, 0);
  }
}
/* line 541, ../../src/sass/ben.scss */
.header.expanded {
  background-color: rgba(31, 231, 168, 0.93);
  height: 100%;
}
/* line 545, ../../src/sass/ben.scss */
.header.expanded .block {
  margin-left: 0;
  margin-right: 0;
  padding-left: 2%;
  padding-right: 2%;
}
/* line 552, ../../src/sass/ben.scss */
.header.expanded h1 {
  color: white;
}
/* line 556, ../../src/sass/ben.scss */
.header.expanded nav {
  display: block;
  padding-top: 25px;
}
/* line 563, ../../src/sass/ben.scss */
.header.expanded .hamburger .patty {
  background-color: transparent;
}
/* line 566, ../../src/sass/ben.scss */
.header.expanded .hamburger .patty::before, .header.expanded .hamburger .patty::after {
  background-color: white;
}
/* line 570, ../../src/sass/ben.scss */
.header.expanded .hamburger .patty::before {
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0);
}
/* line 574, ../../src/sass/ben.scss */
.header.expanded .hamburger .patty::after {
  -moz-transform: rotate(-45deg) translate3d(0, -4px, 0);
  -ms-transform: rotate(-45deg) translate3d(0, -4px, 0);
  -webkit-transform: rotate(-45deg) translate3d(0, -4px, 0);
  transform: rotate(-45deg) translate3d(0, -4px, 0);
}

/**
 * TITLE
 */
/* line 586, ../../src/sass/ben.scss */
.title {
  background-color: white;
}
/* line 589, ../../src/sass/ben.scss */
.title .block {
  padding-bottom: 100px;
  padding-top: 100px;
}
@media (min-width: 660px) {
  /* line 589, ../../src/sass/ben.scss */
  .title .block {
    padding-bottom: 150px;
    padding-top: 150px;
  }
}
@media (min-width: 860px) {
  /* line 589, ../../src/sass/ben.scss */
  .title .block {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}
/* line 604, ../../src/sass/ben.scss */
.title img {
  display: inline-block;
  margin-right: .625rem;
}
@media (min-width: 660px) {
  /* line 604, ../../src/sass/ben.scss */
  .title img {
    display: block;
    margin-bottom: 4rem;
    margin-right: 0;
    width: auto;
  }
}
@media (min-width: 860px) {
  /* line 604, ../../src/sass/ben.scss */
  .title img {
    margin-bottom: 6rem;
  }
}
/* line 620, ../../src/sass/ben.scss */
.title h1 {
  color: #1fe7a8;
  display: inline-block;
  font-size: 46px;
  font-size: 2.875rem;
  line-height: 58px;
  line-height: 3.6rem;
  margin: 0;
  text-transform: uppercase;
}
/* line 628, ../../src/sass/ben.scss */
.title .subtitle {
  color: #333333;
  display: block;
  font-size: 16px;
  font-size: 1rem;
  line-height: 29px;
  line-height: 1.8rem;
  line-height: 1;
  margin-top: -.5rem;
}

/**
 * about
 */
/* line 642, ../../src/sass/ben.scss */
.about {
  background-color: #e8e8e8;
  color: #333333;
}
/* line 646, ../../src/sass/ben.scss */
.about .summary {
  font-size: 23px;
  font-size: 1.40625rem;
  line-height: 29px;
  line-height: 1.8rem;
  line-height: 33px;
  line-height: 2.07rem;
}
@media (min-width: 660px) {
  /* line 646, ../../src/sass/ben.scss */
  .about .summary {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 58px;
    line-height: 3.6rem;
    margin-top: -17px;
  }
}
/* line 655, ../../src/sass/ben.scss */
.about .summary a {
  background: no-repeat url('data:image/gif;base64,R0lGODlhFQAZAPZPAB/nqCDnpiLmph3oqB7rqBvopRznpyDmqB3qpyHopxvqpCPnpSDnpBfmoBTqoh3qqRrnohzkpSXmpRnmoWTtvyHpqiXpp7vr27Po1nHrwhzkoxfqpVvvvX/jwQ/roRHvpCfop0DfqRztqxftpXXjvmjqvhjrpHTnwBjuqHHowHHkvR/moyvoqBbpoi/lqh7no3Dnv2DuvhXtpBnwqh/rphznpWrnvRrrqRvtpiHkoibipS3hpBnopCroqEbpsnvjwJzq0CLkpRrtqiHfn2LrvSLppiXsqabw1yLoqnfjv0HvtCXnqCTipB3ppCzjqv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAE8ALAAAAAAVABkAAAfRgE+Cg4SFhkosCiYLjI2MgkcXhRJDTTQKmJmYgiUkhQkIAAMApKWkgjYNFISgoqamgh0KI0mDraOvp08nOQ0rMYK3ubpEMkYQHxxPwsOCQBkwPykqGMy5hrahuNfYy9rDAC0gDhYOEj0eO9bgrwzr7KXu3/Dt7/TyrvSm+Nv6APz+4tmDx8CJiAcVDihcyLDhAQg6HkSIYKCixYsYDRTZMOOGEAIgQ4ocSeCFhgBBkBRYybKlywI4lgSogSKAzZs4cwaY4MMFEx4CggodSlRAiEAAOw==') center left;
  color: #1fe7a8;
  display: block;
  font-weight: bold;
  margin-top: .5rem;
  padding-left: 30px;
  text-decoration: none;
}
@media (min-width: 660px) {
  /* line 655, ../../src/sass/ben.scss */
  .about .summary a {
    margin-top: 0;
  }
}
/* line 670, ../../src/sass/ben.scss */
.about .detail {
  color: #777777;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 29px;
  line-height: 1.8rem;
}
@media (min-width: 660px) {
  /* line 670, ../../src/sass/ben.scss */
  .about .detail {
    margin-top: 50px;
  }
}
@media (min-width: 660px) and (max-width: 859px) {
  /* line 679, ../../src/sass/ben.scss */
  .about .skills {
    float: none;
  }
}
@media (min-width: 660px) and (max-width: 859px) {
  /* line 685, ../../src/sass/ben.scss */
  .about .skills h2 {
    margin-bottom: 20px;
    margin-top: 40px;
  }
}
/* line 694, ../../src/sass/ben.scss */
.about .skills h3 {
  font-style: normal;
  line-height: 20px;
  line-height: 1.25rem;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
/* line 703, ../../src/sass/ben.scss */
.about .skills ul {
  list-style-type: disc;
  margin-bottom: 30px;
  margin-top: 10px;
}
@media (min-width: 660px) {
  /* line 703, ../../src/sass/ben.scss */
  .about .skills ul {
    margin-bottom: 60px;
    margin-top: 23px;
  }
}
@media (min-width: 660px) and (max-width: 859px) {
  /* line 714, ../../src/sass/ben.scss */
  .about .skills .row {
    clear: none;
  }
}
@media (min-width: 860px) {
  /* line 714, ../../src/sass/ben.scss */
  .about .skills .row {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 860px) {
  /* line 723, ../../src/sass/ben.scss */
  .about .skills .row .first, .about .skills .row .last {
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
  }
}
@media (min-width: 860px) {
  /* line 729, ../../src/sass/ben.scss */
  .about .skills .row .last {
    float: right;
    margin-right: 0;
  }
}

/**
 * WORK
 */
/* line 756, ../../src/sass/ben.scss */
.work {
  background-color: #333333;
  color: white;
}
/* line 768, ../../src/sass/ben.scss */
.work .screenshot {
  margin-bottom: 30px;
}
@media (min-width: 660px) {
  /* line 768, ../../src/sass/ben.scss */
  .work .screenshot {
    margin-bottom: 0px;
  }
}
/* line 778, ../../src/sass/ben.scss */
.work .site-link a {
  color: #1fe7a8;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
/* line 784, ../../src/sass/ben.scss */
.work .site-link a:after {
  content: url('data:image/gif;base64,R0lGODlhEAAQAPYAAB/nph3qpyPnpxzrpxvqphvsqBnkoirjpyToqB7ppyPKlB/goRzpphPqpCbnqBLupibkphjppSLFkCzTnSnnqR/uqiXjpRPpoSXhpCHIkiLmpivkqCfoqSrgpRjnoyvrrynsqhrvrC3EkSPCjCPfoiPrqiLoqiLqqSHpqCTsqxfopBzanBrwqh3Tlh/LkRzkoxrppRjvqRnnpi3UnibHkRnspxrlozDfqCrcoijaniLxrRXtpBbtpyPkpRvmpBznpRrnpCLvrBXooyi8jCfjph3oqCSbcxbppBzvqifopx/CjR/hoiLpqBjrphrtqhnrpBL2qSHlpS7gphfzqyLbnyDioyflpx7mpSXeoh/mpSjmqB7iohzkpSDopx3lpCqUcBXrpSTmpyjmphXxqQrtpSHlpyHhpRfqpyTlphjrqBfioiLkpRLooh3opiDnphztqf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAHAALAAAAAAQABAAQAengHCCg4RfEhlKCkMcXW4DQgRBGAFYhJaXcDkXYk87SQgAAAw1Jw9oTFuYqoNeAARVMwcAQCUIWlIdKQYjg0ZNbQVnH2ZkJjJql2FjRwJIPgxRUxSrqjgbJBUL1HBUDyw/a6stUCAicC40RAUNAVYLDWBsMQqWMAYAHglXPA46FpcAHEQoU4SLkxtpQlx6YeOAhghZ3vRQAeHSBAEBlqAQkADCgBWXAgEAOw==');
  display: inline-block;
  margin-left: 10px;
  vertical-align: baseline;
}
/* line 796, ../../src/sass/ben.scss */
.work .screenshot img {
  width: 100%;
}
/* line 801, ../../src/sass/ben.scss */
.work .bullets {
  clear: left;
  margin-top: -1rem;
}
/* line 806, ../../src/sass/ben.scss */
.work h4 {
  color: #777777;
  font-size: 18px;
  font-size: 1.14rem;
  line-height: 29px;
  line-height: 1.8rem;
  margin: 35px 0 0;
  text-transform: uppercase;
}
/* line 813, ../../src/sass/ben.scss */
.work ul {
  margin-left: 0;
}
/* line 818, ../../src/sass/ben.scss */
.work .role ul, .work .tech ul {
  list-style-type: none;
  padding-left: 0;
}
/* line 825, ../../src/sass/ben.scss */
.work .tech li {
  display: inline;
}
/* line 829, ../../src/sass/ben.scss */
.work .tech li:first-child {
  list-style-type: disc;
}
/* line 833, ../../src/sass/ben.scss */
.work .tech li::after {
  content: ", ";
  display: inline;
  white-space: pre;
}
/* line 839, ../../src/sass/ben.scss */
.work .tech li:last-child::after {
  content: "";
}
@media (min-width: 660px) and (max-width: 859px) {
  /* line 844, ../../src/sass/ben.scss */
  .work .role, .work .tech, .work .notes {
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
  }
}
@media (min-width: 660px) and (max-width: 859px) {
  /* line 850, ../../src/sass/ben.scss */
  .work .notes {
    float: right;
    margin-right: 0;
  }
}

/**
 * CONTACT
 */
/* line 861, ../../src/sass/ben.scss */
.contact {
  background-color: #1fe7a8;
  color: #333333;
}
/* line 865, ../../src/sass/ben.scss */
.contact .block {
  padding-bottom: 20px;
}
/* line 873, ../../src/sass/ben.scss */
.contact a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
/* line 879, ../../src/sass/ben.scss */
.contact fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 885, ../../src/sass/ben.scss */
.contact legend {
  display: none;
}
/* line 889, ../../src/sass/ben.scss */
.contact label {
  display: block;
  margin: 20px 0;
}
/* line 898, ../../src/sass/ben.scss */
.contact input[type="text"], .contact input[type="email"], .contact textarea {
  background-color: white;
  border: 0;
  display: block;
  font-size: 16px;
  font-size: 1rem;
  line-height: 29px;
  line-height: 1.8rem;
  padding: 5px 10px;
  font-style: italic;
  width: 100%;
}
/* line 908, ../../src/sass/ben.scss */
.contact textarea {
  height: 96.4px;
}
/* line 912, ../../src/sass/ben.scss */
.contact .submit-button {
  display: inline-block;
}
/* line 918, ../../src/sass/ben.scss */
.contact input[type="submit"] {
  border: 0;
  text-transform: inherit;
}

/**
 * FOOTER
 */
/* line 929, ../../src/sass/ben.scss */
footer {
  background-color: #1fe7a8;
}
/* line 932, ../../src/sass/ben.scss */
footer .block {
  padding-top: 0;
  padding-bottom: 20px;
}
/* line 937, ../../src/sass/ben.scss */
footer ul {
  list-style: none;
  padding-left: 0;
}
@media (min-width: 660px) {
  /* line 937, ../../src/sass/ben.scss */
  footer ul {
    text-align: right;
  }
}
